ul {
    list-style: none;
  }
  .wrap {
    display: flex;
  }
  .hide li {
    display: none;
  }
  
  .hide div {
    display: none;
  }
  
  .icon1 {
    background-image: url("add.svg");
    width: 10px;
    height: 10px;
    margin-top: 4px;
    background-size: 10px 10px;
    display: block;
  }
  
  .icon2 {
    background-image: url("minus.svg");
    width: 10px;
    height: 10px;
    margin-top: 4px;
    background-size: 10px 10px;
    display: block;
  }
  .buttons{
    margin:10px 35px;
  }

  #main {
    margin:10px 35px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  .autocomplete div{
    padding: 2px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4; 
    border-left: 1px solid #d4d4d4; 
    border-right: 1px solid #d4d4d4; 
  }